/* Documentation For Awesome Company - Company HTML Template */

/*** 
====================================================================
	Global Settings
====================================================================

 ***/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
	--base: #2b2b2bfd;
	--base-two: #adff33;
	--white: #fff;
}

body {
	font-family: "Poppins", serif;
	font-size: 14px;
	color: #282828;
}

a {
	text-decoration: none;
	cursor: pointer;
	color: var(--primary);
	transition: .3s;
}

a:hover,
a:focus,
a:visited {
	text-decoration: none;
	outline: none;
	color: #3880F4;
}

ol,
ul {
	padding: 0;
	list-style: none;

	p {
		margin-bottom: 0;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0px;
	background: none;
	font-weight: 700;
}

h1 {
	font-size: 24px;
}

h2 {
	font-size: 20px;
}

h3 {
	font-size: 18px;
}

p {
	font-size: 14px;
	line-height: 1.6em;
}



/*** 

====================================================================
	Sidebar
====================================================================

****/

.page-wrapper {
	padding: 10px;
}

.header__area {
	background-color: var(--base);
	padding: 20px;
	display: none;
	align-items: center;
	justify-content: space-between;
	gap: 20px;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 7;
}

.header__area a img {
	max-width: 130px;
}

.menu__open {
	color: var(--white);
	font-size: 26px;
	cursor: pointer;
	transition: .3s;
	display: flex;
}

.menu__open:hover {
	color: var(--base-two);
}

.overlay {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 8;
	background-color: rgba(0, 0, 0, 0.6);
	backdrop-filter: blur(10px);
	transition: .3s;
	opacity: 0;
	visibility: hidden;
}

.overlay.active {
	opacity: 1;
	visibility: visible;
}

.menu__close {
	position: absolute;
	right: 12px;
	top: 6px;
	color: var(--white);
	font-size: 24px;
	cursor: pointer;
	transition: .3s;
	z-index: 1;
	display: none;
}

.menu__close:hover {
	color: var(--base-two);
}

#sidebar {
	position: fixed;
	left: 10px;
	top: 10px;
	width: 270px;
	height: calc(100% - 20px);
	padding: 0px 20px;
	border-right: 1px solid var(--base);
	background-color: var(--base);
	z-index: 10;
	border-radius: 8px;
	transition: .3s;
}

#sidebar .mCSB_inside>.mCSB_container {
	margin-right: 12px !important;
}

#sidebar .mCS_no_scrollbar .mCSB_container {
	margin-right: 0px !important;
}

#sidebar .menu-box {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	overflow: auto;
	padding: 20px 14px;
	transition: .3s;
}

#sidebar .menu-box .logo {
	position: relative;
	text-align: center;
	margin-bottom: 35px;
}

#sidebar .menu-box .logo img {
	position: relative;
	display: inline-block;
	max-width: 160px;
}

#sidebar .menu-box .sticky-menu {
	position: relative;
}

#sidebar .menu-box .sticky-menu>ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

#sidebar .menu-box .sticky-menu>ul>li>a {
	display: block;
	padding: 14px 20px;
	color: var(--white);
	background-color: rgba(255, 255, 255, 0.08);
	border: 1px solid rgba(255, 255, 255, 0.04);
	border-radius: 6px;
	font-size: 13px;
	font-weight: 600;
	text-transform: capitalize;
	transition: 0.3s;
}

#sidebar .menu-box .sticky-menu>ul>li.current a,
#sidebar .menu-box .sticky-menu>ul>li:hover a {
	background-color: var(--base-two);
	border-color: var(--base-two);
	color: var(--black);
}

#sidebar .copyright {
	position: fixed;
	left: 0px;
	bottom: 5px;
	width: 250px;
	height: 30px;
	font-size: 13px;
	color: var(--white);
	line-height: 30px;
	text-align: center;
}

/*** 

====================================================================
	Content Section
====================================================================

****/

#content-section {
	position: relative;
	padding: 0px 0px 30px 280px;
	width: 100%;
	z-index: 5;
}

#content-section .section {
	position: relative;
	min-height: 200px;
	margin-bottom: 50px;
}

#content-section .sec-title {
	padding: 16px 20px 16px 35px;
	background-color: var(--base);
	color: var(--white);
	border-radius: 8px;
	display: flex;
	align-items: center;
	gap: 10px;
	position: sticky;
	top: 10px;
	z-index: 111;
	@media (max-width: 767.98px){
		top: 70px;
	}
}

#content-section .sec-title h2 {
	position: relative;
	font-size: 22px;
	text-transform: capitalize;
	font-weight: 600;
}

#content-section .sec-title h3 {
	position: relative;
	font-size: 22px;
	text-transform: uppercase;
	font-weight: 600;
}

#content-section .sec-title .icon {
	font-size: 18px;
}

#content-section .separator {
	position: relative;
	margin: 20px 0px;
	height: 1px;
}

#content-section .separator:before {
	content: '';
	position: relative;
	display: block;
	width: 100%;
	height: 1px;
	background: linear-gradient(left, #d0d0d0, #f1f1f1, var(--white));
	background: -moz-linear-gradient(left, #d0d0d0, #f1f1f1, var(--white));
	background: -webkit-linear-gradient(left, #d0d0d0, #f1f1f1, var(--white));
	background: -ms-linear-gradient(left, #d0d0d0, #f1f1f1, var(--white));
	background: -o-linear-gradient(left, #d0d0d0, #f1f1f1, var(--white));
}

#content-section .sec-content {
	position: relative;
	padding: 10px 35px;
}

.introduction .sec-content h2 {
	font-size: 42px;
	text-transform: uppercase;
	margin-bottom: 10px;
	font-weight: 700;
	color: #333333;
}

.introduction .sec-content h3 {
	font-size: 22px;
	text-transform: capitalize;
	margin-bottom: 10px;
}

.html-structure .sec-content h3,
.css-structure .sec-content h3,
.javascript .sec-content h3,
.sources-credits .sec-content h3,
.contact-form .sec-content h3,
.support .sec-content h3,
.map-settings .sec-content h3,
.count-timer .sec-content h3 {
	font-size: 15px;
	font-weight: 400;
	margin-bottom: 30px;
	line-height: 1.4em;
}

.html-structure code {
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	color: #353535;
	padding: 30px 20px;
	background: #f1f1f1;
	height: auto;
	display: block;
}

.javascript ul li {
	list-style: none;
}

.sources-credits p {
	margin-bottom: 5px;
}

i.fa.fa-check {
	color: #3880F4;
	margin-right: 5px;
}

.html__code h5 {
	margin-bottom: 0;
	background-color: var(--base-two);
	color: var(--white);
	padding: 14px 20px;
	font-weight: 600;
	text-transform: capitalize;
	font-size: 16px;
}

.html__code img {
	width: 100%;
}

#content-section img {
	display: inline-block;
	max-width: 100%;
	height: auto;
}

#content-section .image-box {
	position: relative;
	padding: 0px;
	margin: 30px 0px;
}

@media screen and (max-width: 1200px) {
	.introduction .sec-content h2 {
		font-size: 34px;
		margin-bottom: 8px;
	}

	.introduction .sec-content h3 {
		font-size: 20px;
	}

	.html-structure code {
		padding: 20px;
	}

	.html__code h5 {
		padding: 12px 20px;
		font-size: 14px;
	}

	#content-section .sec-title h2 {
		font-size: 18px;
	}

	#content-section .section {
		margin-bottom: 20px;
	}

	#content-section .sec-content {
		padding: 10px 20px;
	}

	#content-section .sec-title {
		padding: 16px 20px 16px 20px;
	}
}

@media screen and (max-width: 992px) {
	#sidebar {
		width: 240px;
	}

	#content-section {
		padding: 0px 0px 30px 250px;
	}
}

@media screen and (max-width: 767px) {

	#sidebar {
		left: -100%;
		height: 100%;
		border-radius: 0;
		top: 0;
		width: 270px;
	}

	#sidebar.active {
		left: 0;
	}

	#content-section {
		padding: 0;
		padding-top: 80px !important;
	}

	.header__area {
		display: flex;
	}

	#sidebar .menu-box .logo img {
		max-width: 130px;
	}

	.menu__close {
		display: block;
	}
}

@media screen and (max-width: 576px) {

	.introduction .sec-content h2 {
		font-size: 26px;
		text-align: center;
	}

	.introduction .sec-content h3 {
		font-size: 16px;
		text-align: center;
	}
}


.jsf-sitemap a {
	color: var(--bs-body-color);
	display: block
}

.jsf-sitemap .parent-title a {
	padding-left: 0
}

.jsf-sitemap .parent-title a:before {
	display: none
}

.jsf-sitemap .parent-title:before {
	display: none
}

.jsf-sitemap .first-list {
	position: relative;
	padding-top: 10px
}

.jsf-sitemap .first-list:before {
	content: "";
	border-left: 2px dashed var(--bs-border-color);
	position: absolute;
	top: 0;
	height: 100%;
	bottom: 0;
	left: 0
}

.jsf-sitemap .first-list .list-wrap a,
.jsf-sitemap .first-list li a {
	position: relative;
	padding: 10px 16px 4px 36px
}

.jsf-sitemap .first-list .list-wrap a::before,
.jsf-sitemap .first-list li a::before {
	content: "";
	width: 24px;
	border-top: 2px dashed var(--bs-border-color);
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	left: 0
}

.jsf-sitemap .first-list .second-list,
.jsf-sitemap .first-list .third-list {
	margin-left: 42px
}

.jsf-sitemap .first-list .second-list,
.jsf-sitemap .first-list .third-list {
	position: relative
}

.jsf-sitemap .first-list .second-list li,
.jsf-sitemap .first-list .third-list li {
	position: relative
}

.jsf-sitemap .first-list .second-list li:before,
.jsf-sitemap .first-list .third-list li:before {
	content: "";
	height: 100%;
	border-left: 2px dashed var(--bs-border-color);
	position: absolute;
	top: 0;
	left: 0;
	margin: 0 auto
}

.jsf-sitemap .first-list .second-list li:last-child::before,
.jsf-sitemap .first-list .third-list li:last-child::before {
	height: 13px
}

.jsf-sitemap .first-list:last-child::before {
	height: 25px
}